@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: green;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

.game-board{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEE8, #E0F6FF);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe_animation 2s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.junp{
    animation: junp 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds 20s infinite linear;
}

.pontos{
    position: absolute;
    width: 70px;
    height: 70px;
    padding-left: 10px;
    padding-top: 20px;
    border: 2px solid yellow;
    border-radius: 35px;
    font-size: 20pt;
    right: 5%;
    top: 4%;
    background-color: yellow;
}

.reload:hover{
    background: rgb(117, 140, 1);
}

.painel{
    display: none;
}

.tela-reload{
    position: absolute;
    width: 300px;
    left: 40%;
    top: 15%;
    height: 300px;
    color: rgb(179, 175, 175);
    background: linear-gradient(#001c48, #4f0000);
    padding-top: 10%;
}

.reload{
    position: absolute;
    width: 240px;
    height: 60px;
    font-size: 15pt;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: rgb(108, 0, 0);
    background: rgb(162, 195, 0);
    border-radius: 10px;
    left: 10%;
    bottom: 50%;
}


.title{
    position: absolute;
    font-size: 10pt;
    left: 14%;
    bottom: 40%;
}

.melhor{
    position: absolute;
    font-size: 25pt;
    left: 45%;
    bottom: 20%;
}

/*.plataforma{
    position: absolute;
    width: 125%;
    top: 320px;
    left: -160px;
}*/

/*@keyframes grama_animation{
    from{
        right: -100px;
    }
    to{
        right: 100%;
    }
}*/

@keyframes pipe_animation {
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes junp {
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes clouds {
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }
}
